body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f5f5f5;
  color: #111111;
}

.jumbotron {
  text-align: center;
  border: 2px solid #111111;
  background-image: url(../img/yellow.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h3 {
  color: #1306cc;
  font-weight: bold;
}

button {
  width: 100%;
  margin-top: 20px;
  background-color: #111111;
  color: #f5f5f5;
}

button:hover {
  border: 2px solid #111111;
  color: #111111;
  background-color: #f5f5f5;
  font-weight: bold;
}

.well {
  border: 2px solid #111111;
  background-image: url(../img/paper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

label {
  font-size: 30px;
}

#phrase, #piglatin {
  color: #1306cc;
  font-weight: bold;
}

#output {
  display: none;
  border: 2px solid #111111;
  background-image: url(../img/yellow.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}